body{
    margin: 0px;
    display: grid;
    grid-template-areas:
    'header header header header'
    'main main main main'
    'footer footer footer footer';
}
p{
    color: #5E454B;
    font-size: 16px;
    font-family: 'Playfair Display', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    color: #5E454B;
}
a{
    color: #548CA8;
}
/* header */
header{
    grid-area: header;
    display: flex;
    align-items: center;
    height: 90px;
    background-color:  #5E454B;
    position: fixed;
    width: 100%;
}
header div{
    padding-left: 100px;
    height: 70px;
    flex-grow: 1;
}
header div a img{
    width: auto;
    height: 80%;
    padding: 5px;
    border-radius: 20px;
}
header nav{
    padding-right: 100px;
}
header nav div ul{
    display: flex;
    list-style: none;
    padding-top: 10px;
}
header nav div ul li{
    padding: 0px 15px;
    font-family: 'Lora', sans-serif;
    font-size: 20px;
    font-weight: 700;

}
header nav div ul li a{
    text-decoration: none;
    color: #D8B384;
}
header nav div ul li a:hover{
    color: #F3F0D7;
    transition: 1.2s;
}
header nav div ul li:nth-child(2) a:hover{
    color: #F3F0D7;
    transition: 1s;
}
header nav div ul li:nth-child(2) a{
    color: #CEE5D0;
}
/* main */
main{
    grid-area: main;
    padding-top: 100px;
    background-color: #F3F0D7;
    width: 100%;
}
.text{
    padding: 30px 40px;
}
.text h2 a:hover{
    color: #5E454B;
    transition: 1.2s;
}
.image{
    padding: 10px;
}
/* row 1 */
.row-1{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-1 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}
/* row 2 */
.row-2{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-2 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}
/* row 3 */
.row-3{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-3 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}
/* row 4 */
.row-4{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-4 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}
/* row 5 */
.row-5{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-5 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}
/* row 6 */
.row-6{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-6 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}
/* row 7 */
.row-7{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-7 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}
/* row 8 */
.row-8{
    display: flex;
    align-items: center;
    align-content: space-between;
}
.row-8 div img{
    height: auto;
    width: 700px;
    padding: 10px;
    border-radius: 30px;
}

/* footer */
footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #5E454B;
    width: 100%;
}
footer div{
    height: 60px;
    flex-grow: 1;
    align-items: center;

}
footer div img{
    width: auto;
    height: 50px;
    padding: 5px 50px;
}
.social-media{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
footer div p{
    text-align: center;
    color: #F3F0D7;
    font-size: 15px;
}
/* Social Media Links */
.fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}

/* Dropdown Menu */

.menu ul li:hover * {
    display:block;
    color: #fff;
}
.menu ul li a {
    display:block;
    text-decoration:none;
}
.dropbtn{
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus{
    text-decoration: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #5E454B;
    overflow: auto;
    z-index: 20;
    list-style: none;
    padding-left: 0px;
}
.dropdown-content li a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content li a:hover{
    color: #D8B384;
    transition: 1.2s;
}
.show{
    display: block;
}
/* visible - invisible nav bar */
.nav-area.animate{
    top: -91px;
    transition: 1.5s;
}
.nav-area.sticky{
    top: 0;
    z-index: 1;
    transition: 1.5s;
}

/* Media Queries */
@media screen and (min-width: 1301px) {
    .text{
        padding: 35px 35px;
    }
    .image{
        padding: 15px;
    }
}

@media screen and (min-width:1101px) and (max-width: 1300px) {
    /* header */
    header div a img{
        border-radius: 20px;
    }
    /* main */
    main{
        width: 100%;
    }
    .text{
        padding: 10px;
    }
    /* row 1 */
    .row-1 div img{
        width: 600px;
    }
    .row-1 div p{
        font-size: 15px;
    }
    /* row 2 */
    .row-2 div img{
        width: 600px;
    }
    .row-2 div p{
        font-size: 15px;
    }
    /* row 3 */
    .row-3 div img{
        width: 600px;
    }
    .row-3 div p{
        font-size: 15px;
    }
    /* row 4 */
    .row-4 div img{
        width: 600px;
    }
    .row-4 div p{
        font-size: 15px;
    }
    /* row 5 */
    .row-5 div img{
        width: 600px;
    }
    .row-5 div p{
        font-size: 15px;
    }
    /* row 6 */
    .row-6 div img{
        width: 600px;
    }
    .row-6 div p{
        font-size: 15px;
    }
    /* row 7 */
    .row-7 div img{
        width: 600px;
    }
    .row-7 div p{
        font-size: 15px;
    }
    /* row 8 */
    .row-8 div img{
        width: 600px;
    }
    .row-8 div p{
        font-size: 15px;
    }
    
}

@media screen and (min-width:901px) and (max-width: 1100px) {
    /* header */
    header div a img{
        width: auto;
        height: 90%;
        padding: 5px;
        border-radius: 20px;
    }
    header nav{
        padding-right: 10px;
    }
    header nav div ul li{
        padding: 0px 10px;
        font-size: 20px;
    }
    /* main */
    main{
        width: 100%;
    }

    .text{
        padding: 10px;
    }
    /* row 1 */
    .row-1 div img{
        width: 500px;
    }
    .row-1 div p{
        font-size: 12px;
    }
    /* row 2 */
    .row-2 div img{
        width: 500px;
    }
    .row-2 div p{
        font-size: 12px;
    }
    /* row 3 */
    .row-3 div img{
        width: 500px;
    }
    .row-3 div p{
        font-size: 12px;
    }
    /* row 4 */
    .row-4 div img{
        width: 500px;
    }
    .row-4 div p{
        font-size: 12px;
    }
    /* row 5 */
    .row-5 div img{
        width: 500px;
    }
    .row-5 div p{
        font-size: 12px;
    }
    /* row 6 */
    .row-6 div img{
        width: 500px;
    }
    .row-6 div p{
        font-size: 12px;
    }
    /* row 7 */
    .row-7 div img{
        width: 500px;
    }
    .row-7 div p{
        font-size: 12px;
    }
    /* row 8 */
    .row-8 div img{
        width: 500px;
    }
    .row-8 div p{
        font-size: 12px;
    }

    /* footer */
    footer{
        height: 60px;
    }
    footer div{
        height: 90%;
    }
    footer div img{
        height: 40px;
    }
}

@media screen and (min-width:701px) and (max-width: 900px) {
    /* header */
    header div{
        padding-left: 80px;
    }
    header div a img{
        width: auto;
        height: 90%;
        padding: 5px;
        border-radius: 20px;
    }
    header nav{
        padding-right: 10px;
    }
    header nav div ul li{
        padding: 0px 10px;
        font-size: 15px;
    }
    /* main */
    main{
        width: 100%;
    }

    .text{
        padding: 10px;
    }
    /* row 1 */
    .row-1{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-1 div{
        text-align: center;
    }
    .row-1 div img{
        width: 650px;
        padding: 0px;
    }
    .row-1 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 2 */
    .row-2{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-2 div{
        text-align: center;
    }
    .row-2 div img{
        width: 650px;
        padding: 0px;
    }
    .row-2 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 3 */
    .row-3{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-3 div{
        text-align: center;
    }
    .row-3 div img{
        width: 650px;
        padding: 0px;
    }
    .row-3 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 4 */
    .row-4{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-4 div{
        text-align: center;
    }
    .row-4 div img{
        width: 650px;
        padding: 0px;
    }
    .row-4 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 5 */
    .row-5{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-5 div{
        text-align: center;
    }
    .row-5 div img{
        width: 650px;
        padding: 0px;
    }
    .row-5 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 6 */
    .row-6{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-6 div{
        text-align: center;
    }
    .row-6 div img{
        width: 650px;
        padding: 0px;
    }
    .row-6 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 7 */
    .row-7{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-7 div{
        text-align: center;
    }
    .row-7 div img{
        width: 650px;
        padding: 0px;
    }
    .row-7 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 8 */
    .row-8{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-8 div{
        text-align: center;
    }
    .row-8 div img{
        width: 650px;
        padding: 0px;
    }
    .row-8 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    

    /* footer */
    footer{
        height: 50px;
    }
    footer div{
        height: 80%;
    }
    footer div img{
        height: 30px;
    }
    /* Social Media Links */
    .fa {
        font-size: 15px;
    }
    
}

@media screen and (min-width:501px) and (max-width: 700px) {
    /* header */
    header{
        display: grid;
        height: 140px;
    }
    header div{
        height: 70px;
        text-align: center;
        padding: 0px;
    }
    header nav{
        padding: 0px;
    }
    header div a img{
        height: 60px;
        padding: 5px;
        border-radius: 20px;
    }
    header nav div ul{
        padding: 0px;  
        justify-content: center;
    }
    /* main */
    main{
        padding-top: 140px;
        width: 100%;
    }
    
    .text{
        padding: 10px;
    }
    /* row 1 */
    .row-1{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-1 div{
        text-align: center;
    }
    .row-1 div img{
        width: 450px;
        padding: 0px;
    }
    .row-1 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 2 */
    .row-2{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-2 div{
        text-align: center;
    }
    .row-2 div img{
        width: 450px;
        padding: 0px;
    }
    .row-2 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 3 */
    .row-3{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-3 div{
        text-align: center;
    }
    .row-3 div img{
        width: 450px;
        padding: 0px;
    }
    .row-3 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 4 */
    .row-4{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-4 div{
        text-align: center;
    }
    .row-4 div img{
        width: 450px;
        padding: 0px;
    }
    .row-4 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 5 */
    .row-5{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-5 div{
        text-align: center;
    }
    .row-5 div img{
        width: 450px;
        padding: 0px;
    }
    .row-5 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 6 */
    .row-6{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-6 div{
        text-align: center;
    }
    .row-6 div img{
        width: 450px;
        padding: 0px;
    }
    .row-6 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 7 */
    .row-7{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-7 div{
        text-align: center;
    }
    .row-7 div img{
        width: 450px;
        padding: 0px;
    }
    .row-7 div p{
        font-size: 13px;
        padding: 0 10px;
    }
    /* row 8 */
    .row-8{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-8 div{
        text-align: center;
    }
    .row-8 div img{
        width: 450px;
        padding: 0px;
    }
    .row-8 div p{
        font-size: 13px;
        padding: 0 10px;
    }

    /* footer */
    footer{
        height: 50px;
    }
    footer div{
        height: 80%;
    }
    footer div img{
        height: 30px;
    }
    /* Social Media Links */
    .fa {
        font-size: 10px;
    }
    /* visible - invisible nav bar */
    .nav-area.animate{
        top: -140px;
        transition: 1.5s;
    }
    .nav-area.sticky{
        top: 0;
        z-index: 1;
        transition: 1.5s;
    }
    
}

@media screen and (min-width:300px) and (max-width: 500px) {
    /* header */
    header{
        display: grid;
        height: 140px;
    }
    header div{
        height: 70px;
        text-align: center;
        padding: 0px;
    }
    header nav{
        padding: 0px;
    }
    header div a img{
        height: 60px;
        padding: 5px;
        border-radius: 20px;
    }
    header nav div ul{
        padding: 0px;  
        justify-content: center;
    }
    header nav div ul li a{
        font-size: 10px;
    }
    /* main */
    main{
        padding-top: 140px;
        width: 100%;
    }

    .text{
        padding: 10px;
    }
    /* row 1 */
    .row-1{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-1 div{
        text-align: center;
    }
    .row-1 div img{
        width: 350px;
        padding: 0px;
    }
    .row-1 div p{
        font-size: 10px;
        padding: 0 10px;
    }
    /* row 2 */
    .row-2{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-2 div{
        text-align: center;
    }
    .row-2 div img{
        width: 350px;
        padding: 0px;
    }
    .row-2 div p{
        font-size: 10px;
        padding: 0 10px;
    }
    /* row 3 */
    .row-3{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-3 div{
        text-align: center;
    }
    .row-3 div img{
        width: 350px;
        padding: 0px;
    }
    .row-3 div p{
        font-size: 10px;
        padding: 0 10px;
    }
    /* row 4 */
    .row-4{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-4 div{
        text-align: center;
    }
    .row-4 div img{
        width: 350px;
        padding: 0px;
    }
    .row-4 div p{
        font-size: 10px;
        padding: 0 10px;
    }
    /* row 5 */
    .row-5{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-5 div{
        text-align: center;
    }
    .row-5 div img{
        width: 350px;
        padding: 0px;
    }
    .row-5 div p{
        font-size: 10px;
        padding: 0 10px;
    }
    /* row 6 */
    .row-6{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-6 div{
        text-align: center;
    }
    .row-6 div img{
        width: 350px;
        padding: 0px;
    }
    .row-6 div p{
        font-size: 10px;
        padding: 0 10px;
    }
    /* row 7 */
    .row-7{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-7 div{
        text-align: center;
    }
    .row-7 div img{
        width: 350px;
        padding: 0px;
    }
    .row-7 div p{
        font-size: 10px;
        padding: 0 10px;
    }
    /* row 8 */
    .row-8{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .row-8 div{
        text-align: center;
    }
    .row-8 div img{
        width: 350px;
        padding: 0px;
    }
    .row-8 div p{
        font-size: 10px;
        padding: 0 10px;
    }

    /* footer */
    footer{
        display: grid;
        align-items: center;
        height: 200px;
    }
    footer  div{
        text-align: center;
    }
    footer div img{
        width: auto;
        height: 50px;
        padding: 5px 0px;
    }
    footer .social-media{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    /* Social Media Links */
    .fa {
        font-size: 20px;
    }
    /* visible - invisible nav bar */
    .nav-area.animate{
        top: -140px;
    }
    .nav-area.sticky{
        top: 0;
        z-index: 1;
        transition: 1.5s;
    }
}